<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sample screen</title>
  <link rel="stylesheet" href="../configurations/customGain.css">

  <script>
  </script>


</head>

<body>
  <div class = "game-interface">

    <div id = "left-top" class = "info-box blue">
      <p id = "left-top-front">%</p>
      <div id = "left-top-back" class = "pie-chart" style= "background: conic-gradient(#008450 0% 75%, #BFC9CA 75% 100%);"></div>
    </div>

    <div id = "left-bottom" class = "info-box blue">
      <p id = "left-bottom-front">€</p>
      <div id = "left-bottom-back" class = "amount_bar" style="background: linear-gradient(to top, #008450, #008450 20%, #BFC9CA 20%)"></div>
    </div>

    <div id = "right-top" class = "info-box yellow">
      <p id = "right-top-front">%</p>
      <div id = "right-top-back" class = "pie-chart" style="background: conic-gradient(#008450 0% 45%, #BFC9CA 45% 100%);"></div>
    </div>

    <div id = "right-bottom" class = "info-box yellow">
      <p id = "right-bottom-front">€</p>
      <div id = "right-bottom-back" class = "amount_bar" style="background: linear-gradient(to top, #008450, #008450 80%, #BFC9CA 20%)"></div>
    </div>

    <!-- Choice Buttons -->
    <div id = "choice-button-left"></div> <!-- Gamble A -->
    <div id = "choice-button-right"></div> <!-- Gamble A -->

  </div>


</body>

</html>
