<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Outcome screen</title>
  <link rel="stylesheet" href="../configurations/customGain.css">

  <script>
  </script>


</head>

<body>
  <div class = "game-interface">

    <div id = "arrow"><p>&#x2193</p></div>
    <div id = "outcome-info-prob">
      <div class = "pie-chart" style="background: conic-gradient(#008450 0% 75%, #BFC9CA 75% 100%);"></div>
    </div>

    <div id = "outcome-message"><p>+20</p></div>
    <div id = "outcome-info-amount">
      <div class = "amount_bar" style="background: linear-gradient(to top, #008450, #008450 20%, #BFC9CA 20%)"></div>
    </div>

  </div>





</body>

</html>
